<template>
  <q-page class="flex flex-center row bg-grey-2">
    <div class="row full-width center justify-center">
      <div class="col-12 text-h2 q-pb-sm gt-sm">Order Up!</div>
      <div class="col-12 text-h3 q-pb-sm lt-md">Order Up!</div>
      <div class="col-12 text-subtitle gt-sm">
        What separates our Pizza from the rest?
      </div>
      <div class="col-12 text-subtitle gt-sm">
       Nothing, it’s just bad.
      </div>
      <div class="col-12 q-pt-sm text-subtitle gt-sm">
        Order one of our below average pizzas below:
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-6 rounded-borders shadow-10 q-pa-md row justify-center">
      <q-input  class="col-4" bg-color="grey-3" outlined dense v-model="order.customer.first" label='First Name'/>
      <q-input  class="col-4" bg-color="grey-3" outlined dense v-model="order.customer.last" label='Last Name'/>
      <q-input  class="col-4" bg-color="grey-3" outlined dense v-model="order.customer.phone" label='Phone Number' mask="phone"/>
      <q-select class="col-6"
        bg-color="grey-3"
        outlined
        dense
        v-model="order.size"
        :options="sizeOptions"
        :option-value="opt => opt.enum"
        :option-label="opt => opt.label"
        emit-value
        map-options
        label="Size" />
      <q-select class="col-6"
        bg-color="grey-3"
        outlined
        dense
        v-model="order.crust"
        :options="crustOptions"
        :option-value="opt => opt.enum"
        :option-label="opt => opt.label"
        emit-value
        map-options
        label="Crust" />
      <div class="q-gutter-xs col-12 center">
        <q-checkbox v-model="order.toppings" val="Pepperoni" label="Pepperoni" color="red" />
        <q-checkbox v-model="order.toppings" val="Sausage" label="Sausage" color="red" />
        <q-checkbox v-model="order.toppings" val="Bacon" label="Bacon" color="red" />
        <q-checkbox v-model="order.toppings" val="Ham" label="Ham" color="red" />
      </div>
      <div class="bg-grey-4 col-xs-10 col-sm-10 col-md-8 col-lg-6 q-mt-lg q-py-sm center rounded-borders shadow-1">
      <div class="col-12 center">
        Subtotal: {{ order.total.subtotal | currency }}
      </div>
      <div class="col-12 center">
        Tax: {{ order.total.tax | currency }}
      </div>
      <div class="col-12 center">
        Total: {{ order.total.total | currency }}
      </div>
      <div class="col-12 center">
        <q-btn label="Pay With Bitcoin"
          class='inline-block'
          color='secondary'
          size="md"
          icon='fab fa-bitcoin'
          @click="togglePaymentPrompt"/>
      </div>
      </div>
    </div>
    <div class="col-12 center">
      <img alt="Sauce Boss Pizza Icon" src="statics/icons/pizza.png" class="mainIcon">
    </div>

    <paymentPrompt
      v-bind:displayPaymentPrompt="displayPaymentPrompt"
      v-bind:bitPayInfo="bitPayInfo"
      v-on:togglePaymentPrompt="togglePaymentPrompt"
    />
  </q-page>
</template>s

<style lang="stylus" scoped>
  .center {
    text-align: center;
  }

  .mainIcon {
    max-height: 100px;
  }
</style>
<script>
import Vue from 'vue';
import Vue2Filters from 'vue2-filters';
import { HubConnectionBuilder, LogLevel } from '@microsoft/signalr';
import paymentPrompt from '../components/paymentPrompt';

export default {
  /* eslint-disable max-len */
  /* eslint-disable no-console */
  name: 'PageIndex',
  components: {
    paymentPrompt,
  },
  watch: {
    order: {
      // Watch for changes inside the object
      // Similar to how a lodash clone algorithm has deep and shallow methods
      // While we don't necessarily want to run this when the customer names are updated,
      //  this just keeps things quick and easy
      deep: true,
      // Order has been updated - Calculate total
      handler() {
        this.updateTotal();
      },
    },
  },
  data() {
    return {
      // Connection
      stateRefConnection: {
        connection: null,
        rtryNum: 1,
        lastId: null,
        isReCnnctn: false,
        isConnected: false,
        isLoggedIn: false,
      },

      // Display state of payment prompt/modal
      displayPaymentPrompt: false,

      // Order Options
      // Yes, Typescript allows for native enumerators. No, I don't use typescript.
      //  This is how I chose to map enumerators to their string values.
      // I didn't write software requirements (SRD) or design documentation (SDD).
      //  However, I added the tracing tags to help map/clarify the example.

      // [*TRACING*] SDD-BP-1000000
      sizeOptions: [
        {
          label: 'Small',
          enum: 0,
        },
        {
          label: 'Medium',
          enum: 1,
        },
        {
          label: 'Large',
          enum: 2,
        },
        {
          label: 'X-Large',
          enum: 3,
        },
      ],
      // [*TRACING*] SDD-BP-1000002
      crustOptions: [
        {
          label: 'Regular',
          enum: 0,
        },
        {
          label: 'Thin',
          enum: 1,
        },
        {
          label: 'Deep Dish',
          enum: 2,
        },
      ],

      // Customer Order Structure
      // [*TRACING*] SDD-BP-1000010
      order: {
        customer: {
          // [*TRACING*] SDD-BP-1000004
          first: '',
          last: '',
          phone: '',
        },
        size: 0,
        crust: 0,
        toppings: [],
        total: {
          // [*TRACING*] SDD-BP-1000006
          subtotal: 0,
          tax: 0,
          total: 0,
        },
      },

      // Server returned info
      bitPayInfo: {},

      // User alerts
      defaultQAlert: {
        color: 'negative',
        multiline: true,
        icon: 'warning',
        message: 'replace text',
        position: 'top',
        actions:
        [
          { label: 'Dismiss', color: 'yellow' },
        ],
      },
    };
  },
  created() {
    // We use this package to format the order total for display
    Vue.use(Vue2Filters);
    // Establish websocket connection
    this.estHubConnection(this, 'bitpayhandler');
    // Initialize order total
    this.updateTotal();
  },
  methods: {
    togglePaymentPrompt() {
      // Toggle display payment prompt state
      this.displayPaymentPrompt = !this.displayPaymentPrompt;
      if (this.displayPaymentPrompt) {
        // Display is opening up - Invoke server method
        this.stateRefConnection.connection.invoke('genInvoice', this.order);
      }
    },
    async estHubConnection(ref, hub) {
      // This function is ripped off of my custom connection handler.
      //  Some functionality has been removed/stripped as it is not needed for this example.
      // All "State" references are to a VueX state/store object.
      //  This does not exist in this project, but I'm too lazy to change it.
      // I don't write UI software requirements out of laziness, so there's no tracing tags here.

      const refUtil = this;

      if (!refUtil.stateRefConnection.isConnected) {
        const objInput = {
          field: 'connection',
          value: new HubConnectionBuilder()
            .withUrl(`https://sonorancad.com/api/${hub}`)
            // .withUrl(`http://localhost:59658/${hub}`)
            .configureLogging(LogLevel.Information)
            .build(),
        };
        this.setConnection(objInput);

        console.log('Starting connection...');
        refUtil.stateRefConnection.connection.start()
          .then(() => {
            // Reset connection attemp counter
            refUtil.setConnection({ field: 'rtryNum', value: 1 });

            // Common server calls to client
            refUtil.estConnectionCalls();

            // Update connection status
            refUtil.setConnection({ field: 'isConnected', value: true });
            refUtil.setConnection({ field: 'isReCnnctn', value: false });
          })
          .catch((ex) => {
            console.log('Exception caused failure to connect to server hub');
            console.log(ex);
            console.log('Reconnecting socket...');
            // Update connection status
            refUtil.setConnection({ field: 'isConnected', value: false });
            refUtil.setConnection({ field: 'isReCnnctn', value: true });

            // Add new connection attempt alert
            refUtil.defaultQAlert.message = `Failed to Connect to Sonoran Servers - Retry(${refUtil.stateRefConnection.rtryNum})`;
            refUtil.defaultQAlert.actions = [];
            refUtil.addQAlert(this.defaultQAlert);

            // Increment retry counter
            refUtil.setConnection({ field: 'cnctnAttemptIncrement' });

            // Retry connection on exception every 5 seconds
            // Prevent calling re-connect a second time on connection lost (onclose)
            refUtil.setConnection({ field: 'isReCnnctn', value: true });

            setTimeout(() => {
              refUtil.estHubConnection(ref, hub);
            }, 5000);
          });
      } else {
        // Connection already exists!
        // Register our connection events
        this.estConnectionCalls();
        // Inform parrent that connection is established
        // We don't actually do that in this example
        // ref.initConnCmplt();
      }
      // Reconnect on Connection Loss
      refUtil.stateRefConnection.connection.onclose(() => {
        // Prevent calling re-connect twice if other exception occurs
        if (!refUtil.stateRefConnection.isReCnnctn) {
          // Update connection status
          refUtil.stateRefConnection = { field: 'isConnected', value: false };
          refUtil.stateRefConnection = { field: 'isReCnnctn', value: true };
          console.log('Lost connection to Server Hub');
          // Automatically attempt re-connect
          refUtil.estHubConnection(ref, hub);
        }
      });
    },
    setConnection(objInput) {
      // This is a very hacky copy of a mutation function used in a VueX store.
      //  Again, I didn't implement a VueX store as this example is a single page.
      // So all this function does is modify the local connection object.
      //  While a bad practice, this was easier to copy/paste from my existing code
      //    then to actually just modify the local object directly.
      switch (objInput.field) {
        case 'connection':
          this.stateRefConnection.connection = objInput.value;
          break;
        case 'rtryNum':
          this.stateRefConnection.rtryNum = objInput.value;
          break;
        case 'cnctnAttemptIncrement':
          this.stateRefConnection.rtryNum += 1;
          break;
        case 'lastId':
          this.stateRefConnection.lastId = objInput.value;
          break;
        case 'isReCnnctn':
          this.stateRefConnection.isReCnnctn = objInput.value;
          break;
        case 'isConnected':
          this.stateRefConnection.isConnected = objInput.value;
          break;
        case 'isLoggedIn':
          this.stateRefConnection.isLoggedIn = objInput.value;
          break;
        case 'username':
          this.stateRefConnection.username = objInput.value;
          break;
        default:
          break;
      }
    },
    estConnectionCalls() {
      // These are websocket calls from our API server.
      // These handlers register on specific events whent he websocket is connected.

      this.stateRefConnection.connection.on('returnOrder', (bitPayInfo) => {
        // Backend returned the bitPayInfo structure.
        // Log it to be seen in the debug web console.
        console.log('Recieved bitpay info from server:');
        console.log(bitPayInfo);
        // Set our bitPayInfo structure to the one sent from the server.
        // This object is v-bound to our payment prompt Vue template.
        this.bitPayInfo = bitPayInfo;
      });
    },
    updateTotal() {
      // Calculate the order total
      // This function is ran every time one of the order input boxes is updated
      //  (Other than the customer info)
      // Sure, we could save processing power by having separate functions
      //  to append and edit the total depending on the field changed, but
      //  that's ridiculous.
      let subtotal = 0;

      // I'm just making the size cost dirrectly correlate to the size enumerator value
      // Ex: Medium Size => $3 + (1 * 2) = $6
      subtotal += 3 + (this.order.size * 2);

      // Add cost for type of crust
      switch (this.order.crust) {
        case 0: // REGULAR
        case 1: // THIN
          subtotal += 1;
          break;
        case 2: // DEEP DISH
          subtotal += 2;
          break;
        default:
          // We should never hit this, but per LDRA and ESLINT
          //   standards we must have a default case
          // We should put a client alert here, but I'm lazy.
          break;
      }

      // Calculate the cost for toppings
      // Toppings are just stored in an array of strings
      // We will charge a flat $1 per topping
      subtotal += (this.order.toppings.length);

      // Lastly, it's time for the government to steal some of
      //  our money to pay for everyone who doesn't work.
      // Let's add a Bernie Sanders tax rate (God, that would be horrible.)
      const tax = (subtotal * 0.5);

      // The subtotal has now been calculated
      // Let's update the total
      this.order.total.subtotal = subtotal;
      this.order.total.tax = tax;
      this.order.total.total = subtotal + tax;

      // Debug console log
      console.log('Total updated!');
    },
    // Alerts
    addQAlert(notifyObj) {
      // This function creates a popup alert
      // This is yet another copy/paste from my other projects
      // In other applications, the server specifies different alert types
      // This simply allows the backend to only have to specify things it wants to
      if (notifyObj.timeout == null) {
        notifyObj.timeout = 5000;
      }
      if (notifyObj.color == null) {
        notifyObj.color = 'negative';
      }
      if (notifyObj.icon == null) {
        notifyObj.icon = 'warning';
      }
      if (notifyObj.actions == null) {
        notifyObj.actions = [
          { label: 'Dismiss', color: 'yellow' },
        ];
      }
      if (notifyObj.position == null) {
        notifyObj.position = 'top';
      }
      // Electron alerts on bottom left
      // Prevents alers on toolbar drag section
      //  We don't use electron in this example.
      //  But I'd rather type a useless comment then delete this.
      if (this.electron) {
        notifyObj.position = 'bottom-left';
      }
      this.$q.notify(notifyObj);
    },
  },
};
</script>
