<template>
<q-dialog full-width v-model="displayPaymentPrompt" :maximized="maximizedToggle" persistent>
      <q-card class="bg-grey-2">
        <q-bar class="bg-grey-10 text-white">
          <div class="ellipsis">Give us your money!</div>
          <q-space />
          <q-btn dense flat icon="minimize" @click="maximizedToggle = false" :disable="!maximizedToggle">
            <q-tooltip v-if="maximizedToggle" content-class="bg-white text-primary">Minimize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="crop_square" @click="maximizedToggle = true" :disable="maximizedToggle">
            <q-tooltip v-if="!maximizedToggle" content-class="bg-white text-primary">Maximize</q-tooltip>
          </q-btn>
          <q-btn dense flat icon="close" @click="togglePaymentPrompt">
            <q-tooltip content-class="bg-white text-primary">Close</q-tooltip>
          </q-btn>
        </q-bar>

      <div class="q-pa-sm center row">
          <q-card-section class="col-12 center text-subtitle3 q-pa-sm bg-red text-white rounded-borders shadow-1">
            For tax-evasion reasons, Sauce Boss Pizza only takes Bitcoin.
          </q-card-section>
          <div class="bg-grey-3 col-12 center">
          <q-card-section class="col-12 center text-subtitle3 q-pa-none q-mt-sm">
            BTC Exchange Rate: {{ bitPayInfo.exchangeRate | currency }}
          </q-card-section>
          <q-card-section class="col-12 center text-subtitle3 q-pa-none">
            Order Total: {{ bitPayInfo.fiatPrice | currency }}
          </q-card-section>
          <q-card-section class="col-12 center text-subtitle3 q-pa-none">
            BTC Total: {{ bitPayInfo.btc }}BTC
          </q-card-section>
        </div>
        <q-card-section class="col-12 center bg-grey-4">
          <div @click="openQr">
            <qrcode-vue :value="bitPayInfo.paymentUrl" level="H"></qrcode-vue>
          </div>
          <q-btn label="Copy QR Code"
            class='inline-block'
            color='secondary'
            size="md"
            icon='fa fa-copy'
            @click="copyQr"/>
        </q-card-section>
      </div>
      </q-card>
</q-dialog>
</template>

<style lang="stylus" scoped>
  .center {
    text-align: center;
  }
</style>

<script>
import Vue from 'vue';
import QrcodeVue from 'qrcode.vue';
import Clipboard from 'v-clipboard';
import Vue2Filters from 'vue2-filters';

export default {
  name: 'modifyCharacter',
  components: {
    QrcodeVue,
  },
  props: {
    displayPaymentPrompt: Boolean,
    bitPayInfo: Object,
  },
  data() {
    return {
      maximizedToggle: false,
    };
  },
  created() {
    // We use this stuff
    Vue.use(Clipboard);
    Vue.use(Vue2Filters);
  },
  methods: {
    togglePaymentPrompt() {
      // This emits togglePaymentPrompt to the parent to handle
      this.$emit('togglePaymentPrompt');
    },
    openQr() {
      // Open the QR code in a new windoe
      window.open(this.bitPayInfo.paymentUrl, '_blank');
    },
    copyQr() {
      // Copy the QR code to clipboard
      console.log(this.bitPayInfo.paymentUrl);
      this.$clipboard(this.bitPayInfo.paymentUrl);
    },
  },
};
</script>
