<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated class="bg-red-10">
      <q-toolbar>

        <q-toolbar-title>
          Sauce Boss Pizza
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'MyLayout',

  data() {
    return {
      leftDrawerOpen: false,
    };
  },
};
</script>
